body {

    height: 100%;
    margin: 0;
}

.Footer {

    box-shadow: 0px -5px 7px grey;

    background-color: #85C3ED;
    bottom: 0;
    min-height: 80px;
    width: 100%;
    position: fixed;
    height: 10%;

    color: whitesmoke;
    text-align: center;
}

.FooterText {

    color: whitesmoke;
    text-align: center;
    font-size: x-large;
}

.InputNewNote {

    color: whitesmoke;
    font-size: xx-large;

    width: 40%;
    height: 100%;

    outline: none;
    resize: none;
    overflow: hidden;

    float: left;
    margin-top: 0.7%;
    margin-left: 30%;

    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid rgb(62, 102, 129);
}

.InputNewNote::placeholder {

    color: whitesmoke;
}

.Submit {

    background-color: rgb(62, 102, 129);
    font-size: large;
    border: none;
    color: white;
    padding: 0.7% 1%;
    min-width: 88px;
    min-height: 46px;

    text-align: center;
    text-decoration: none;
    
    float: left;
    margin-top: 24px;
}

.Content {

    padding-bottom: 15%;
    height: 70%;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.Note {

    word-wrap: break-word;
    float: left;
    position: relative;

    min-height: 100px;
    width: 41%;

    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;

    border: 2px solid rgb(62, 102, 129);
    border-radius: 5px;
    box-shadow: 0px 5px 7px rgb(62, 102, 129);
}

@media only screen and (max-width: 600px) {

    .Note {

        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

    }
}

.NoteCreate {

    margin: 0;
}

.NoteCreate_Text {

    display: block;
    margin-left: auto;
    margin-right: auto;

    outline: none;
    font-size: xx-large;
    color:  #85C3ED;
    text-align: center;

    width: 40%;
    max-width: 300px;
    height: 100%;

    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid rgb(62, 102, 129);
}

.NoteCreate_Text::placeholder {

    color: rgb(202, 227, 243);
}

.NoteCreate_Note {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-top: 2%;

    outline: none;
    font-size: xx-large;
    color:  #85C3ED;
    resize: none;

    width: 70%;
    max-width: 700px;
    height: 100%;

    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 2px solid rgb(62, 102, 129);
}

.NoteCreate_Note::placeholder {

    color: rgb(202, 227, 243);
}

.NoteCreate_Submit {

    background-color: rgb(62, 102, 129);
    font-size: large;
    border: none;
    color: white;
    padding: 0.7% 1%;
    min-width: 88px;
    min-height: 46px;

    text-align: center;
    text-decoration: none;
    margin-top: 24px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.NoteTitle {

    text-align: center;
    color: rgb(62, 102, 129);
    text-decoration: underline;
    font-size: x-large;
    margin: 0;
    margin-top: 10px;
}

.NoteText {

    color: #85C3ED;
    margin: 0;
    margin-left: 10px;
}

.NoteAuthor {

    text-align: center;
    color: rgb(62, 102, 129);
    margin: 0;
}